# Docker
COMPOSE_PROFILES=""


# Database Connection
DATABASE_TYPE=""
DATABASE_HOST=""
DATABASE_PORT=""
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_NAME=""


# Better Auth
BETTER_AUTH_URL=""
BETTER_AUTH_SECRET=""
